<form [formGroup]="mainform" (ngSubmit)="onSubmit()">
	<p-panel>
		<p-header>
			<div class="ui-helper-clearfix">
				<span class="ui-panel-title">{{'Student-title' | translate}}</span>
			</div>
		</p-header>
		<!-- FOTO -->
		<div class="ui-fluid">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-4 ui-sm-12">
					<!-- <img *ngIf="webcamImage" [src]="webcamImage.imageAsDataUrl" width="200px" height="200px" /> -->
					<img *ngIf="student.photo != null" [src]="student.photo" width="200px" height="200px" />
				</div>
				<div class="ui-g-12 ui-md-4 ui-sm-12">
					<webcam [height]="50" [width]="50" [trigger]="triggerObservable"
						(imageCapture)="handleImage($event)" 
						*ngIf="showWebcam" 
						[allowCameraSwitch]="allowCameraSwitch"
						[switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
						(cameraSwitched)="cameraWasSwitched($event)" 
						(initError)="handleInitError($event)"></webcam>
					<div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸 {{'Take-Picture' | translate}}</div>
					<!-- <div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div> -->
				</div>
			</div>
		</div>
		<h4 *ngIf="errors.length > 0">{{'Error-Start-Cam' | translate}}:</h4>
		<ul *ngFor="let error of errors">
			<li>{{error | json}}</li>
		</ul>
		<div class="ui-fluid">
			<div class="ui-g">
				<!-- NAME -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-Name' | translate}}*:
					</div>
					<div class="ui-g-8">
						<input type="text" pInputText [(ngModel)]="student.name" maxlength="25"
							placeholder="{{'Student-Name-Placeholder' | translate}}" formControlName="name">
						<p-message severity="error" text="{{'Required' | translate}}"
							*ngIf="!mainform.controls['name'].valid&&mainform.controls['name'].dirty">
						</p-message>
					</div>
				</div>
				<!-- LASTNAME -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-LastName' | translate}}*:
					</div>
					<div class="ui-g-8">
						<input type="text" pInputText [(ngModel)]="student.lastName" maxlength="25"
							placeholder="{{'Student-LastName-Placeholder' | translate}}" formControlName="lastname">
						<p-message severity="error" text="{{'Required' | translate}}"
							*ngIf="!mainform.controls['lastname'].valid&&mainform.controls['lastname'].dirty">
						</p-message>
					</div>
				</div>
				<!-- BIRTDAY -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-BirthDate' | translate}}:
					</div>
					<div class="ui-g-8">
						<p-calendar [(ngModel)]="student.birthDate" [locale]="es" dateFormat="dd/mm/yy"
							formControlName="birthdate" [showIcon]="true" ></p-calendar>
					</div>
				</div>
				<!-- RFC -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-RFC' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" pInputText [(ngModel)]="student.rfc" formControlName="rfc" maxlength="13">
					</div>
				</div>

				<!-- EMAIL -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-Email' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" formControlName="email" pInputText [(ngModel)]="student.email" maxlength="30">
						<p-message severity="error" text="{{'Email-Valid' | translate}}"
							*ngIf="!mainform.controls['email'].valid&&mainform.controls['email'].dirty"></p-message>
					</div>
				</div>

				<!-- TELEFONO -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-PhoneNumber' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" mask="(999) 999-9999" formControlName="phonenumber" maxlength="18"
							placeholder="(999) 999-9999" pInputText [(ngModel)]="student.phoneNumber">
					</div>
				</div>

				<!-- CELULAR -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-MobileNumber' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" formControlName="mobilenumber" mask="(999) 999-9999" maxlength="18"
							placeholder="(999) 999-9999" pInputText [(ngModel)]="student.mobileNumber">
					</div>
				</div>

				<!-- DIRECCION -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-Address' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" formControlName="address" pInputText [(ngModel)]="student.address" maxlength="40">
					</div>
				</div>

				<!-- ZIP CODE -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-ZipCode' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" pInputText [(ngModel)]="student.zipCode" formControlName="zipcode"
							(change)="loadZipCodeInfo()" maxlength="5" minlength="5">
					</div>
				</div>

				<!-- COLONIA -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-Colonia' | translate}}:
					</div>
					<div class="ui-g-8">
						<p-dropdown [options]="coloniasPorCp" [(ngModel)]="student.colonia"
							(onChange)="loadRegionAndCity($event.value)" placeholder="{{'Select' | translate}}"
							optionLabel="response.asentamiento" formControlName="colonia" [showClear]="true">
						</p-dropdown>
					</div>
				</div>

				<!-- REGION -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-Region' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" formControlName="region" pInputText [(ngModel)]="student.region"
							disabled="true">
					</div>
				</div>

				<!-- City -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-City' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" pInputText [(ngModel)]="student.city" formControlName="city" disabled="true">
					</div>
				</div>

				<!-- GENERO -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-Gender' | translate}}:*
					</div>
					<div class="ui-g-8">
						<p-dropdown [options]="genders" [(ngModel)]="genderSelected" 
							placeholder="{{'Select' | translate}}" optionLabel="label" formControlName="gender" 
							[showClear]="true"></p-dropdown>
						<p-message severity="error" text="{{'Required' | translate}}"
							*ngIf="!mainform.controls['gender'].valid&&mainform.controls['gender'].dirty">
						</p-message>
					</div>
				</div>

				<!-- MARRITAL STATUS -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-MaritalStatus' | translate}}:
					</div>
					<div class="ui-g-8">
						<input type="text" formControlName="maritalStatus" pInputText [(ngModel)]="student.maritalStatus" maxlength="20">
					</div>
				</div>

				<!-- COMMENTS -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-Comments' | translate}}:
					</div>
					<div class="ui-g-8">
						<textarea   formControlName="comments" pInputTextarea [(ngModel)]="student.comments" maxlength="80"></textarea>
					</div>
				</div>

				<!-- EXTRA COMENTS -->
				<div class="ui-g-12 ui-md-6">
					<div class="ui-g-4">
						{{'Student-ExtraComments' | translate}}:
					</div>
					<div class="ui-g-8">
						<textarea  formControlName="extraComments" pInputTextarea [(ngModel)]="student.extraComments" autoResize="autoResize" maxlength="80"></textarea>
					</div>
				</div>
			</div>
		</div>
		<p-footer>
			<p-button type="submit" label="{{'Save' | translate}}" [disabled]="!mainform.valid"
				styleClass="ui-button-success" class="button-space" icon="pi pi-save" iconPos="left"> </p-button>
			<p-button label="{{'Back' | translate}}" icon="pi pi-arrow-left" (onClick)="back()" iconPos="left">
			</p-button>
		</p-footer>
	</p-panel>
</form>