<p-messages [(value)]="msgs"></p-messages>
<div class="ui-g dashboard-card">
  <div class="ui-g-12 ui-md-4">
    <p-card styleClass="overview-box-1">
      {{'Students-In-Role' | translate}}<h1>267</h1>
    </p-card>
  </div>
  <div class="ui-g-12 ui-md-4">
    <p-card styleClass="overview-box-2">
      {{'Attendance-In-Month' | translate}}<h1>82</h1>
    </p-card>
  </div>
  <div class="ui-g-12 ui-md-4">
    <p-card styleClass="overview-box-3">
     {{'Sell-Packages' | translate}}<h1>12</h1>
    </p-card>
  </div>  
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <p-card>
      <p-chart type="doughnut" [data]="doughnutChartData" [height]="200" [width]="200"></p-chart>
    </p-card>
  </div>
  <div class="ui-g-12 ui-md-6">
    <p-card>
      <p-chart type="bar" [data]="barChartData" [height]="200" [width]="200"></p-chart>
    </p-card>
  </div>
</div>