<p-panel >
	<p-header>
        <div >
            <span class="ui-panel-title" >{{'Payment-Title' | translate}}</span>
			<p-button class="float-rigth" label="{{'Payment-Add' | translate}}" 
			icon="pi pi-plus" (onClick)="addPayment()" 
			iconPos="right"> </p-button>
        </div>
    </p-header>
	<p-table #dt [globalFilterFields]="['Id','Student.Name','Student.LastName','PurchasedSet.Description','TransactionDate']" [value]="payments" [paginator]="true" [rows]="10">
		<ng-template pTemplate="caption">
			<div style="text-align: right">
				<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
				<input type="text" pInputText size="50" placeholder="{{'GlobalFilterPlaceHolder' | translate}}"
					(input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th style="width: 10%">{{'Payment-Id' | translate}} </th>
				<th style="width: 25%">{{'Payment-Student' | translate}}</th>
				<th style="width: 25%">{{'Payment-PurchasedSet' | translate}}</th>
				<th style="width: 30%">{{'Payment-Amount' | translate}}</th>
				<th style="width: 20%">{{'Payment-TransactionDate' | translate}}</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-payment>
			<tr>
				<td style="text-align: center" ><a (click)="goToPaymentDetails(payment)">{{payment.Id}}</a></td>
				<td>{{payment.Student.Name + ' ' + payment.Student.LastName}}</td>
				<td >{{payment.PurchasedSet.Description}}</td>				
				<td style="text-align: right" >{{payment.Amount | currency }}</td>
				<td style="text-align: center">{{payment.TransactionDate | date:'dd/MM/yyyy'}}</td>
			</tr>
		</ng-template>
	</p-table>
</p-panel>
